{% extends "base.html" %}
{% load material_form %}

{% block title %}Ingresar{% endblock title %}

{% block content %}
<h4>Ingresa tus credenciales</h4>

<div class="row">
    <div class="col s8">
      <div class="card grey lighten-2">
        <div class="card-content deeppurple-text">
            <form method="POST">{% csrf_token %}
                {% form %}
                    {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                    {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
                {% endform %}
            <button type="submit" class="btn">Ingresar</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}