<!-- templates/signup.html -->

{% extends 'base.html' %}
{% load material_form %}

{% block title %}Registro{% endblock title %}

{% block content %}
<h4>¡Comencemos el registro!</h4>

 <div class="row">
    <div class="col s8">
      <div class="card grey lighten-2">
        <div class="card-content black-text">
          <span class="card-title">Completa el formulario</span>
            <form method="POST">{% csrf_token %}
    {% form %}
      <div class="row">
        <div class="col s6">
            {% part form.first_name prefix %}<i class="material-icons prefix">face</i>{% endpart %}
        </div>

          <div class="col s6">
            {% part form.last_name prefix %}<i class="material-icons prefix">face</i>{% endpart %}
          </div>
      </div>

        {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
        {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% part form.password1 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
        {% part form.password2 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
    {% endform %}

  <button type="submit" name="_submit" class="btn">Registrame</button>
</form>

        </div>

      </div>
    </div>
  </div>



{% endblock content %}