{% extends "solicitudes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Ingresar{% endblock title %}

{% block content %}
<br>
{% if messages%}
    {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe}}
        </div>
    {% endfor %}
{% endif%}

{%if form.non_field_errors%}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in form.non_field_errors %}
    {{error}}
    {% endfor %}
<!--    {{ form.non_field_errors }}-->
</div>
{%endif%}
<div class="container">
<div class="row ">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
            <div class="text-center mt-4">
                <h1 class="h2">Hola!</h1>
                <p class="lead">Si te registraste, ingresá tus datos</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="m-sm-4">
                        <div class="text-center">
                            <img src="{% static 'images/logo.png' %}" alt="Andrew Jones" class="img-fluid rounded-circle" width="130 " height="130">
                            <p class="lead">ProfessionApp</p>
                        </div>
                        <form method="POST">{% csrf_token %}

                            {{ form.username |as_crispy_field }}
                            {{ form.password |as_crispy_field }}

                            <div class="text-center mt-3">
                                 <button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>

{% endblock content %}