<!-- templates/registration/password_change_done.html -->
{% extends 'solicitudes/base.html' %}

{% block title %}Cambio de contraseña exitoso{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <p>Su contraseña ha sido cambiada!</p>
    {% if user.is_authenticated %}
        <a class="btn btn-info ml-2" href="{% url 'home' %}">Ir a Mi Cuenta</a>
    {%else%}
        <a class="btn btn-info ml-2" href="{% url 'login' %}">Iniciar sesion</a>
    {%endif%}
</div>
{% endblock content %}