{% extends 'solicitudes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock title %}

{% block content %}

<div class="card border-primary">
    <div class="card-body">

    <h1>{{title}}</h1>
    <p>Por razones de seguridad, introduzca primero su contraseña actual y luego introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente.</p>
        <form method="POST">{% csrf_token %}
            {{ form |crispy}}
        <input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
        </form>
    </div>
</div>

{% endblock content %}