.main {
    width: 750px;

}

.one {
    background-color: #232428;
    border-radius: 5px
}

.dotdot {
    font-size: 15px !important;
    font-weight: lighter !important;
    color: #76787b
}

.name {
    font-size: 20px;
    color: #b7b7b7;
    font-weight: 700
}

.mail {
    font-size: 12px;
    font-weight: 500;
    color: #5a5d64
}

.total {
    font-size: 10px;
    font-weight: 500;
    color: #8a8b8f
}

.money {
    font-size: 20px;
    font-weight: 600;
    color: #dedbdb
}

.details {
    font-size: 12px;
    font-weight: 500;
    color: #0606b5
}

.right {
    font-size: 15px;
    color: #0606b5
}