{% extends 'base.html' %}
{% block title %}Especialidades{% endblock title %}
{% block content %}
{%if object_list%}

{% with object_list|first as first_object %}
    <center><h2>{{ first_object.profesion |title }} tiene {{object_list | length}} especialidades
    </h2></center>
{% endwith %}

<br>


  <div class="row">
      {% for especialidad in object_list %}
        <div class="col s12 m6">
            {%if especialidad.count_esp > 0 %}
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ especialidad.name | title }}</span>
                        <p>Detalle de '{{ especialidad.name | title }}'</p>
                    </div>

                    <div class="card-action">
                        <a href="" class="btn btn-info btn-sm" role="button">Ver profesionales (??)</a>
                    </div>
                </div>

            {% else %}
                 <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ especialidad.name | title }}</span>
                        <p>Detalle de '{{ especialidad.name | title }}'</p>

                    </div>

                    <div class="card-action">
                        <a href="" class="btn btn-info btn-sm disabled" role="button">Ver profesionales (0)</a>
                    </div>
                </div>
            {% endif %}
        </div>
      {% endfor %}
  </div>

</div><br>

{%else%}
    <center><h2>No tenemos especialidades aqui :(</h2></center>
{% endif %}

{% endblock %}