<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Detalle del Profesional{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card border-primary mb-3">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
<!--                    <img src="{% static 'images/campeon.jpg' %}" alt="" class="rounded-circle" width="220">-->
<!--                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="rounded-circle" width="150">-->
                    {% if request.user.profesional.profile_pic %}
                      <img src="{{object.profile_pic.url}}" class="rounded-circle" width="200">
                    {%else%}
                      <img src="{% static 'images/avatar7.png' %}" alt="" class="rounded-circle" width="200">
                    {%endif%}
                    <div class="mt-3">
                      <h4>{{ object.profesion.abbreviation | title }}. {{ object.usuario.get_full_name | title }} </h4>
                      <p class="text-secondary mb-1">@{{object.usuario.username}}</p>
                      <p class="text-muted font-size-sm"><strong>Profesion: {{object.profesion}}</strong></p>
<!--                      object.id = {{object.id}}-->
<!--                      request.user.profesional.id = {{request.user.profesional.id}}-->
                      {% if request.user.profesional.id == object.id %}
                      <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Volver</a>
                      <a class="btn btn-primary btn" href="{% url 'profesional-update' user.profesional.id %}" role="button">Editar perfil </a>
                      {%else%}

                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Agregar a favoritos!">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                        </button>

                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Quitar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </button>

                      <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="left" title="Denunciar a este profesional">
                        Denunciar <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                          </svg>
                        </button>

                      {%endif%}

                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-primary mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Sitio Web</h6>
                        {% if object.website_url %}
                      <span class="text-secondary">{{object.website_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                        {% if object.instagram_url %}
                      <span class="text-secondary">@{{object.instagram_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    {% if object.facebook_url %}
                      <span class="text-secondary">@{{object.facebook_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}

                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card border-primary mb-3">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-primary mr-2">Datos</i></h6>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Nombre completo</h6></div>
                    <div class="col-sm-9 text-secondary">{{object.usuario.get_full_name | title}}</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                    <div class="col-sm-9 text-secondary">{{object.usuario.email}}</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Matricula</h6></div>
                    {% if object.matricula > 0 %}
                    <div class="col-sm-9 text-secondary">{{object.matricula}}</div>
                      {%else%}
                      <div class="col-sm-9 text-secondary">No posee</div>
                      {%endif%}
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Telefono</h6></div>
                    {% if object.telefono > 0 %}
                    <div class="col-sm-9 text-secondary">{{object.telefono}}</div>
                      {%else%}
                      <div class="col-sm-9 text-secondary">No informa</div>
                      {%endif%}

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Miembro desde</h6></div>
                    <div class="col-sm-9 text-secondary">{{ object.usuario.date_joined | date:" N Y" }}</div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card border-primary h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-primary mr-2">Servicios</i></h6>
                      <small>{{object.servicio}}</small>
                      <div><br></div>
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-primary mr-2">Horario de Atención</i></h6>
                      {% if object.horarios.all %}
                        <ul>
                            {% for horario in object.horarios.all %}
                              <small><li>{{horario}}</li></small>
                            {% endfor %}
                        </ul>
                    {% else %}
                      <ul><small><li>No informa horario de atencion</li></small></ul>
                    {% endif %}

                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-primary mr-2">Direccion</i></h6>
                      {% if object.direccion %}
                        <ul>
                          <li><small>{{object.direccion}}</small></li>
                          <small><li>Piso/Departamento: {{object.direccion.piso_dpto}}</li></small>
                          <small><li>Lugar: {{object.direccion.get_lugar_display}}</li></small>
                        </ul>
                      {% else %}
                        <ul><small><li>No informa direccion de contacto</li></small></ul>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<br>
<hr>
<h2>Comentarios...</h2>
<br>
{% if not profesional.comentarios.all %}

<p>Este perfil no tiene comentarios :C .. <a href="#"> Agregar un comentario</a></p>

{% else %}

  {% for comentario in profesional.comentarios.all %}
    <p><i>@{{comentario.creador}}</i> ({{comentario.creador.get_full_name | title}}) - {{comentario.modified | naturaltime}}</p>
    <p><strong>{{comentario.mensaje}}</strong></p>
    <hr class="col-xs-12">
  {% endfor %}

{% endif %}

{% endblock %}
