{% extends 'base.html' %}
{% load static %}
{% block title %}Profesiones{% endblock title %}
{% block content %}

{%if object_list%}

<center><h2>Profesiones registradas: {{object_list | length}}</h2></center>
<br>

<div class="row">
   {% for profesion in object_list %}
    <div class="col-sm-4">
        <div class="card" >
            {% if profesion.imagen %}
                <img src="{{ profesion.imagen.url}}" class="card-img-top" >
            {% else %}

            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{profesion | title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Profesionales registrados: </h6>
                <h6 class="card-subtitle mb-2 text-muted">Especialidades: ({{profesion.count_esp}}) </h6>
                <p class="card-text">Detalle de {{profesion | title }}</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Profesionales registrados: </li>
                <li class="list-group-item">Especialidades: ({{profesion.count_esp}})
                    <a href="{% url 'especialidad-list' profesion %}" role="button">Ver</a>
                </li>
              </ul>
        </div>
        <br>
    </div>

    {% comment %}
    <div class="col-sm-4">
        {%if profesion.count_esp > 0 %}
        <div class="card border-info mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ profesion | title }}</h5>
            <p class="card-text">Profesionales registrados: 999</p>

              <div>
                <a href="{% url 'especialidad-list' profesion %}" class="btn btn-info btn-sm" role="button">Especialidades ({{profesion.count_esp}})</a>
            </div>
              <br>
            <div>
                <a href="{% url 'especialidad-list' profesion %}" class="btn btn-info btn-sm" role="button">Ver profesionales ({{profesion.count_esp}})</a>
            </div>
          </div>

        </div>

        {%else%}
            <div class="card border-seconday mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ profesion | title }}</h5>
                <p class="card-text">Cantidad de profesionales: ninguno :(</p>
                <a href="#" class="btn btn-secondary btn disabled" role="button" aria-disabled="true">Ver especialidades ({{profesion.count_esp}})</a>
              </div>
            </div>

        {%endif%}
    </div>
    {% endcomment %}
    {% endfor %}
</div>
<br>

{%else%}
    <center><h2><li>No existen Profesiones</h2></center></li>
{% endif %}

{% endblock %}