<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Detalle del Profesional{% endblock title %}

{% block content %}

<div class="container">
    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{% static 'images/campeon.jpg' %}" alt="" class="rounded-circle" width="200">
<!--                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="rounded-circle" width="150">-->
                    <div class="mt-3">
                      <h4>{{ object.profesion.abbreviation | title }}. {{ object.usuario.get_full_name | title }} </h4>
                      <p class="text-secondary mb-1">@{{object.usuario.username}}</p>
                      <p class="text-muted font-size-sm">Profesion: {{object.profesion}}</p>
                      {% if request.user.id == object.id %}
                        <a class="btn btn-primary btn" href="{% url 'profesional-update' user.profesional.id %}" role="button">Editar perfil </a>
                      {%else%}

                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Agregar a favoritos!">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                        </button>

                      <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="left" title="Denunciar a este profesional">
                        Denunciar <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                          </svg>
                        </button>

                      {%endif%}

                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Sitio Web</h6>
                        {% if object.website_url %}
                      <span class="text-secondary">{{object.website_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                        {% if object.instagram_url %}
                      <span class="text-secondary">@{{object.instagram_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-info"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    {% if object.facebook_url %}
                      <span class="text-secondary">@{{object.facebook_url}}</span>
                      {% else  %}
                      <span class="text-secondary">-</span>
                      {% endif  %}

                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Nombre completo</h6></div>
                    <div class="col-sm-9 text-secondary">{{object.usuario.get_full_name | title}}</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                    <div class="col-sm-9 text-secondary">{{object.usuario.email}}</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Matricula</h6></div>
                    {% if object.matricula > 0 %}
                    <div class="col-sm-9 text-secondary">{{object.matricula}}</div>
                      {%else%}
                      <div class="col-sm-9 text-secondary">No posee</div>
                      {%endif%}
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Mobile</h6></div>
                    <div class="col-sm-9 text-secondary">(320) 380-4539</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Miembro desde</h6></div>
                    <div class="col-sm-9 text-secondary">{{ object.usuario.date_joined | date:" N Y" }}</div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Mis Servicios</i>Project Status</h6>

                      <small>{{object.servicio}}</small>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
