<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Detalle de la cuenta{% endblock title %}

{% block content %}

<h2><strong>Bienvenido </strong> @{{ object.username | title }}<i></i></h2>

<div class="container">
  <div class="row">
    <div class="col">
<!--      <div class="card" style="width:90%;">-->
          <div class="card border-light mb-3" style="max-width: 90%;">
        <div class="card-body">
        <h5 class="card-title">Mis datos personales</h5>

      <ul class="list-group">
          <li class="list-group-item"><strong>Nombre de Usuario:</strong> {{ object.username }}</li>
          <li class="list-group-item"><strong>Nombre Completo:</strong> {{ object.first_name | title}}, {{ object.last_name | title }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
          <li class="list-group-item"><strong>Miembro desde:</strong> {{ object.date_joined | date:" N Y" }}</li>
          <li class="list-group-item"><strong>Ultima conexion:</strong> {{ object.last_login | timesince }}</li>
          <li class="list-group-item"><strong>Cuenta Activa:</strong> {{ object.is_active | yesno:"Si,No,Nose"}}</li>
      </ul>

      {% comment %}
            {{ object.bio |default:" (sin bio)" }}

            <i>({{ object.bio|default_if_none:"sin bio"}})</i>

            <strong>Dni:</strong> {{ object.dni }}
            <strong>Fecha de Nacimiento:</strong> {{ object.fecha_nac|date }}
            <strong>Direccion:</strong> {{ object.direccion }}

            <strong>Telefono:</strong> {{object.telefono}} ({{object.get_tipo_telefono_display}})
            <strong>Matricula:</strong> {{ object.matricula |default:"Su profesion no requiere"}}
            {{ object.matricula |default_if_none:"No posee"}}
            <!--    <p>Profesion: {{ object.profesion}}</p>-->
            <strong>Especialidad:</strong> {{ object.especialidad}}
            <strong>Staff:</strong> {{ object.is_staff | yesno:"Si,No,Nose"}}
        {% endcomment %}

  </div>
</div>

    </div>

    <div class="col">
      <div class="card border-light mb-3" style="max-width: 90%;">
        <div class="card-body">
        <h5 class="card-title">Mi perfil profesional</h5>
        {% if user.profesional.id %}
            <ul class="list-group">
              <li class="list-group-item"><strong>Profesion:</strong> {{ object.profesional.profesion }}</li>
              {% if object.matricula > 0 %}
              <li class="list-group-item"><strong>Matricula:</strong> {{ object.profesional.matricula }}</li>
              {% else %}
              <li class="list-group-item"><strong>Matricula:</strong> No posee</li>
              {% endif %}
              <li class="list-group-item"><strong>Sitio Web:</strong> {{ object.profesional.website_url }}</li>
              <li class="list-group-item"><strong>Facebook:</strong> @{{ object.profesional.facebook_url }}</li>
              <li class="list-group-item"><strong>Instragram:</strong> @{{ object.profesional.instagram_url }}</li>
              <li class="list-group-item"><strong>Mis Servicios:</strong> {{object.profesional.servicio }}</li>
            </ul>
        {% else %}
            <ul class="list-group">
                <li class="list-group-item"><strong>No tiene un perfil profesional</strong></li>
            </ul>
        {% endif %}
  </div>
</div>

    </div>
  </div>
</div>




{% comment %}
{{user.get_short_name}}{{ user.get_username}}
   <li>No existen Especialidades en {{ request.path }}</li>
   <li>No existen Especialidades en {{ request.get_full_path.url }}</li>
   <li>No existen Especialidades en {{ request.build_absolute_uri }}</li>
   <li>No existen Especialidades en {{ context }}</li>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">@{{ object.username }}</strong>
          <h3 class="mb-0">{{ object.get_full_name | title }}<i>{{ object.bio |default:" (sin bio)" }}</i></h3>
          <div class="mb-1 text-muted">Miembro desde: {{ object.date_joined | date:" N Y" }}</div>
          <p class="card-text mb-auto"><strong>Matricula verificada <img width="25" height="25" src="https://postfity.com/wp-content/uploads/2018/10/insta-ver-sign.jpg"/></strong></p>
          <p class="card-text mb-auto"><strong>Profesion:</strong> Medicina</p>
          <p class="card-text mb-auto"><strong>Especialidad:</strong> Cirujano</p>
          <a href="#" class="stretched-link">Ver datos de contacto</a>
        </div>
        <div class="col-auto ">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'images/campeon.jpg' %}" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/>

        </div>
      </div>
    </div>
    </div>
{% endcomment %}
{% endblock %}
