<div class="row">
      <div class="col s4">
          <div class="center promo promo-example">
              <i class="large material-icons">assignment_ind</i>
              <p class="promo-caption"></p><strong>Registrate en el sitio</strong></p>
              <p>Si aún no te registraste, hacelo ahora creando un usuario y contraseña para acceder a nuestros servicios.</p>
          </div>
      </div>

      <div class="col s4">
          <div class="center promo promo-example">
              <i class="large material-icons">dvr</i>
              <p class="promo-caption"><strong>Completá el formulario online</strong></p>
              <p>Es muy fácil, para comenzar a debés completar el formulario online con tus datos.</p>
        </div>
      </div>

      <div class="col s4">
          <div class="center promo promo-example">
              <i class="large material-icons">attach_money</i>
              <p class="promo-caption"><strong>Maximizá tus ingresos</strong></p>
              <p class="light-center">¡Bienvenido al ProfessionApp! Accedé a todos los profesionales que tenemos disponibles para vos.</p>
          </div>
      </div>
</div>