 <div class="container">
<center>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Registrate en el sitio</h2>
        <p>Si aún no te registraste, hacelo ahora creando un usuario y contraseña para acceder a nuestros servicios.</p>

      </div>
      <div class="col-md-4">
        <h2>Completá el formulario online</h2>
        <p>Es muy fácil, para comenzar a debés completar el formulario online con tus datos.</p>

      </div>
      <div class="col-md-4">
        <h2>Maximizá tus ingresos</h2>
          <p>¡Bienvenido al ProfessionApp! Accedé a todos los beneficios que tenemos disponibles para que administres tus inversiones de la mejor manera.</p>
        <p>¡Gracias por elegirnos!</p>

      </div>
    </div>

    <hr>
</center>
  </div> <!-- /container -->