<div class="navbar-fixed">
<nav>
    <div class="container">

        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo">
              <i class="material-icons">people</i>ProfessionApp</a>

            {% if user.is_authenticated %}
            {%comment%}
                {% include 'includes/navbar_auth.html' %}
            {%endcomment%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'profesion-list' %}">Lista de Profesiones</a></li>
                <li><a href="{% url 'home' %}" class="waves-effect waves-light btn"><i class="material-icons left">account_circle</i>{{ user.get_username }}</a></li>
            </ul>
            {% else %}

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'profesion-list' %}">Lista de Profesiones</a></li>
                <li><a href="{% url 'signup' %}" class="waves-effect waves-light btn">Crear cuenta</a></li>
                <li><a href="{% url 'login' %}" class="waves-effect waves-light btn"><i class="material-icons left">person</i>Ingresar</a></li>
            </ul>
            {% endif %}
        </div>
    </div>


</nav>
</div>