<div class="card-body">
<center>
<main role="main" class="inner cover">
      <h3 class="cover-heading">Hola!</h3>
      <p class="lead">Si te registraste, ingresá tus datos</p>

      <p class="lead"><a href="{% url 'login' %}" class="btn btn-success ml-2">Ingresar</a></p>

      <h4 class="cover-heading">¿Todavía no tenés cuenta?</h4>
      <p class="lead">Abrila ahora: simple y sin costo</p>
      <p class="lead">
        <a href="#" class="btn btn-primary ml-2">Crear Cuenta</a>
      </p>
</main>
</center>
</div>