<!-- templates/base.html -->

{% load static%}
{% load material_form %}

<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    {% include 'material/includes/material_css.html' %}

    <title>ProfessionApp | {% block title %}{% endblock title %}</title>



</head>
<body>
{% include 'includes/navbar.html' %}

<div class ="container">
    {% block content %}
    {% endblock content %}
</div>
{% include 'includes/footer.html' %}

{% include 'material/includes/material_js.html' %}

</body>
</html>
