<!-- templates/home.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block content %}

{% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
<!--        <div class="alert alert-warning  alert-dismissible fade show" role="alert">-->
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong> {{ message }} </strong>
        </div>
    {% endfor %}
{% endif%}

<div>
{% if user.is_authenticated %}

  <div class="jumbotron">
      <h2 class="display-4">Hola {{ user.first_name | title }}!</h2>
      <p class="lead">Bienvenido a su cuenta de usuario. Aqui encontrará todos los necesario para administrar su cuenta</p>

       <div class="divider"></div>
          <div class="section">
            <h5>Mis Datos</h5>
            <p>Toda tu informacion personal en esta seccion</p>
              <a href="{% url 'user-detail' user.get_username %}" class="waves-effect waves-light btn"><i class="material-icons left">portrait</i>Ver mis datos</a>
              <a href="{% url 'user-update' user.id %}" class="waves-effect waves-light btn"><i class="material-icons left">create</i>Modificar mis datos</a>
          </div>

          <div class="divider"></div>
          <div class="section">
            <h5>Mi Cuenta</h5>
            <p>Todo lo necesario para administrar tu cuenta</p>
              <a href="{% url 'password_change' %}" class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Cambiar contraseña</a>
          </div>

          <div class="divider"></div>
          <div class="section">
            <h5>Zona de Peligro</h5>
            <p>Esta seccion es peligrosa. Manejese con cuidado</p>
              <a href="{% url 'user-desactivar' user.id %}" class="waves-effect waves-light btn amber"><i class="material-icons left">cloud_off</i>Desactivar cuenta</a>
              <a href="{% url 'user-delete' user.id %}" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Eliminar cuenta</a>
          </div>

      <div class="divider"></div>
          <div class="section">
            <h5>Salir</h5>
            <p>Nos vemos pronto!</p>
              <a href="{% url 'logout'%}" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Salir</a>
          </div>
      {% comment %}
      {% if user.profesional %}

          <p>Ya tiene su cuenta Profesional activada!.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Ir a mi Cuenta Profesional</a>
        {% else %}
          <p>Uds es Profesional? Quiere publicar sus servicios? Cree una Cuenta Profesional.</p>

          <a class="btn btn-info btn-lg" href="#" role="button">Actualizar a Cuenta Profesional!</a>
      {% endif %}
      {% endcomment %}

  </div>
{% else %}
    <br>
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
   <hr>

  <div class="container">
      <center><h4>¿Por qué abrir una cuenta en ProfessionApp?</h4></center>
  </div>
  <hr>

    <div class="row">
        <div class="col s6">
            <h5>Trabaja desde cualquier lugar</h5>
            <span>Ingresá desde cualquier dispositivo y realizá búsquedas en toda la región. Nuestra plataforma garantiza una rápida y correcta visualización de todos aquellos datos importantes para que tomes la mejor decisión al instante. También podrás ver el estado de tu portafolio , las cotizaciones de los activos en general y de tus títulos favoritos.</span>
        </div>

        <div class="col s6">
             <img src="https://comsitecsac.com/data/cache/thum_21256tbadpr614507t.jpg">
        </div>
    </div>

        <div class="row">

        <div class="col s6">
            <h5>Tu perfil en tiempo real</h5>
            <span>Al abrir una cuenta en ProfessionApp accederás a cientos de perfiles. Acceso las 24 horas del dia , los 7 dias se la semana</span>
        </div>

            <div class="col s6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi3jAbkjMjlKps-Q6sjpxVMAo_dZc4yFjDoW4FlXy7KHIzT81H&usqp=CAU">
        </div>
    </div>


  <div class="container">
    <hr>
    <center><p><h3>Abrí tu Cuenta en 3 pasos</h3></p></center>
    {% include 'includes/home-containers.html' %}
    <center><h4>¡Gracias por elegirnos!</h4></center>
    <hr>
    {% include 'includes/register-login.html' %}
  </div>

</div>

{% endif %}

{% endblock content %}
