{% extends 'base.html' %}
{% load static %}
{% block title %}Profesionales{% endblock title %}
{% block content %}

{%if object_list%}

<center><h2>Resultados encontrados para '{{query}}': {{total}}</h2></center>
<div class="container d-flex justify-content-center mt-5">
    <div class="main">
        <div class="row">
            {% for profesional in object_list %}
            <div class="col-md-3">
                <div>
                    <div class="one">
                        <div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'images/avatar7.png' %}" width="100" class="rounded-circle">
                        </div>
                        <div class="text-center"> <span class="name">{{profesional}}</span>
                            <p class="mail">{{profesional.usuario.email}}</p>
                        </div>
                        <div class="text-center"> <span class="total d-block pt-2">Profesion</span> <span class="money">{{profesional.profesion | title}}</span> </div>
                        <div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2">
                            <a href="{% url 'profesional-detail' profesional.id  %}">Ver perfil</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            {% endfor %}
    <div class="container">
    {% if is_paginated %}
        <ul class="pagination ag-flex-center">
            {% if page_obj.has_previous %}
                <li class="page-item mr-1 ag-pagination-item ag-pagination-border">

                    <a href="/buscar/?page={{page_obj.previous_page_number}}&q={{ query }}" class="ag-pagination-item ag-pagination-border page-link">Anterior</a>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}

                    <li class="page-item {% if page_obj.number == i %} active {%endif%}">
                        <a href="/buscar/?page={{i}}&q={{ query }}" class="ag-pagination-item page-link ag-border">{{i}}</a>
                    </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item ml-1">
                    <a href="/buscar/?page={{page_obj.next_page_number}}&q={{ query }}" class="ag-pagination-item ag-pagination-border page-link">Siguiente</a>
                </li>
            {% endif %}
        </ul>

    {%endif%}
    </div>


        </div>
    </div>
</div>

{%else%}
    <center><h2>No existen resultados para '{{query}}'</h2></center>
{% endif %}

{% endblock %}