{% extends 'base.html' %}
{% load static %}
{% block title %}Profesionales{% endblock title %}
{% block content %}

<br>
{%if object_list%}
<!--{{filter.form}}-->
<center><h2>Resultados encontrados para '{{query}}': {{total}}</h2></center>
<div class="container d-flex justify-content-center mt-5">
    <div class="main">
        <div class="row">
            {% for profesional in object_list %}
                <div class="col-lg-4 col-md-6">
                        <div class="list-grid-item mt-4">
                            <div class="grid-item-content p-2">
                                <div class="employers-list-img mt-3">
                                    <img src="{{profesional.profile_pic.url}}" alt="" class="img-fluid mx-auto d-block rounded-circle">
                                </div>
                                <div class="grid-list-desc text-center mt-4">
                                    <h5 class="mb-1"><a href="#" class="text-dark">{{profesional}}</a></h5>
                                    <p class="text-muted f-14 mb-0">{{profesional.profesion | title}}</p>
                                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{profesional.usuario.email}}</p>
                                    <ul class="employers-icons list-inline mb-1">
                                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                    </ul>
<!--                                    <span class="badge badge-warning text-white">4.9</span>-->
                                </div>
                            </div>
                            <hr class="mt-0 mb-0">
                            <div class="apply-button text-center mt-2 mb-2">
                                <a href="{% url 'profesional-detail' profesional.id  %}" class="btn btn-custom btn-sm">Ver perfil</a>
                            </div>
                        </div>
                    </div>

            {% endfor %}

    <div class="container">
    <br>
    {% if is_paginated %}
        <ul class="pagination ag-flex-center">
            {% if page_obj.has_previous %}
                <li class="page-item mr-1 ag-pagination-item ag-pagination-border">

                    <a href="/buscar/?page={{page_obj.previous_page_number}}&q={{ query }}" class="ag-pagination-item ag-pagination-border page-link">Anterior</a>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}

                    <li class="page-item {% if page_obj.number == i %} active {%endif%}">
                        <a href="/buscar/?page={{i}}&q={{ query }}" class="ag-pagination-item page-link ag-border">{{i}}</a>
                    </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item ml-1">
                    <a href="/buscar/?page={{page_obj.next_page_number}}&q={{ query }}" class="ag-pagination-item ag-pagination-border page-link">Siguiente</a>
                </li>
            {% endif %}
        </ul>

    {%endif%}
    </div>


        </div>
    </div>
</div>

{%else%}
<div class="container">
    <div class="row">
        <div class="card border-dark m-auto" style="width: 600px;">
            <div class="card-body">
                <div class="card-title">
                    <h2>Sin resultados ...</h2>
                </div>
                <p><h5>No existen coindicencias para '{{query}}'</h5></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}