{% extends 'solicitudes/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Actualizar Solicitud{% endblock title %}
{% block content %}
<h2>Actualizar Solicitud</h2>

<br>
<div class="card" style="width:75%;">
  <div class="card-body">

    <form method="POST">{% csrf_token %}
        <p><h4>Solicitud Nro: {{object.id}}</h4></p>
        <p><strong>Profesional:</strong> {{object.profesional | title }}</p>
        <p><strong>Matricula:</strong> {{object.profesiona.matricula }}</p>
        <p><strong>Fecha de alta:</strong> {{object.fecha_alta }}</p>

        {{ form.estado|as_crispy_field }}
        {{ form.observacion|as_crispy_field }}

        <button class="btn btn-info" type="submit">Confirmar</button>
    </form>

  </div>
</div>
{% endblock %}

